#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    transition: all 200ms;
    flex-shrink: 0;
}

.played .card {
    top: 0;
}

.hand .card {
    margin-left: -15px;
}
